body {
    background-color: #f0f0f0;
    font-family: sans-serif;
  }
  
  .life {
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }

  #resetBtn {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 0.5rem;
    font-size: 0.2rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .controls-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .life {
    font-size: 2rem;
    font-weight: bold;
    min-width: 3rem;
    text-align: center;
    color: black;
  }
  
  .player {
    text-align: center;
    margin: 1rem;
  }

  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .row {
    display: flex;
    gap: 2rem;
  }
  
  .reset-container {
    text-align: center;
  }

  .name {
    width: 115px;
    text-align: center;
  }

  .reset-container {
  display: flex;
  justify-content: center;
}